footer {
    width: 100%;
    padding: 2rem;
    background-color: #3c108f;

} 

footer .footer__container {
    max-width: 1200px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
} 

footer .footer__container span, a {
    display: block;
    font-size: 1.6rem;

    color: #ffffff;
}

footer .footer__container span {
    margin-bottom: 0.1rem;
    font-weight: 700;
}