body {
    background-color: rgb(172, 181, 206);
    color: #3c108f;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 0;
}

div#post {
    background-color: rgb(184, 215, 255);
    max-width: 50vw;
    max-height: auto;
    margin: 0 auto;
    padding: 40px;
}
