:root {
    --main-color: var(--main-color);
    --second-color: var(--second-color)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    min-width: 300px;
    background-color: var(--second-color)
    color: var(--main-color);
    text-align: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0 auto 2rem auto;
    font-size: 5rem;
    line-height: 40px;
}

h2, h3, h4, h5 {
    margin: 2rem 0 0.8rem 0;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2rem;
}

p {
    font-size: 1.7rem;
}

#header {
    width: 100%;
    min-width: 300px;
    padding: 20px;
    background-color: var(--main-color);
}

#header .header__container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#header figure img {
    max-width: 200px;
    margin: 0;
}


#header .header__container nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 350px;
    justify-content: center;
    list-style: none;
}

#header .header__container nav ul li:hover {
    color: 
    var(--main-color);
    background-color: 
    #583a8f;
}

#header .header__container nav ul li a {
    display: inline-block;
    font-size: 17px;
    color: #ffffff;
    padding: 20px;
}

#header .header__container nav ul li a:hover {
    color: #0afd0a;
    text-decoration: underline;
    text-underline-offset: 4px;
}

div#post {
    background-color: rgb(184, 215, 255);
    max-width: 1200px;
    max-height: auto;
    margin: 0 auto;
    padding: 40px 20px;
}

div#post figure img {
    width: 90%;
    max-width: 45rem;
    margin: 20px auto 4px auto;
}

div#post video {
    width: 90%;
    max-width: 45rem;
    margin: 20px auto;
}

div#post form {
    margin: 20px auto 0  auto;
}